<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sisosolsol.greenfire.user.dao.UserMapper">

    <resultMap id="userResultMap" type="sisosolsol.greenfire.user.dto.User">
        <id property="userCode" column="user_code" typeHandler="sisosolsol.greenfire.common.handler.UUIDTypeHandler"/>
        <result property="nickname" column="nickname"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="birth" column="birth"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="status" column="status"/>
        <result property="password" column="password"/>
        <result property="profileImageCode" column="profile_key"/>
        <result property="coverImageCode" column="cover_image_key"/>
    </resultMap>

    <select id="findUserSummary" resultMap="userResultMap">
        SELECT
            user_code,
            nickname,
            name,
            profile_key,
            cover_image_key
        FROM
            users u
        WHERE
            user_code = #{userCode}
    </select>

    <select id="findByUserCode" resultMap="userResultMap">
        SELECT
            user_code,
            nickname,
            name,
            email,
            birth,
            password,
            phone,
            profile_key
<!--            gender,-->
<!--            status-->
        FROM
            users
        WHERE
            user_code = #{userCode}
    </select>

    <select id="findImagePathByImageCode">
        SELECT
            path
        FROM
            image
        WHERE
            image_code = #{imageCode}
    </select>

<!--    <update id="updateUserProfile">-->
    <update id="updateUserProfile" parameterType="sisosolsol.greenfire.user.dto.UpdateUserCommand">
        UPDATE
            users
        SET
        <if test="storageKey != null">
            profile_key = #{storageKey},
        </if>
            nickname = #{nickname},
            name = #{name},
            birth = #{birth},
            email = #{email},
            phone = #{phone}
        WHERE
            user_code = #{userCode}
    </update>

    <select id="getScrapbookSummary" resultType="sisosolsol.greenfire.user.dto.ScrapbookSummaryDTO">
        SELECT
        (SELECT count(store_code) FROM store WHERE user_code = #{userCode}) AS greenfireCount,
        (SELECT count(challenge_part_code) FROM challenge_part WHERE user_code = #{userCode}) AS challengeCount,
        (SELECT count(post_code) FROM post WHERE user_code = #{userCode}) AS feedCount,
        (SELECT count(target_user) FROM user_follows WHERE user_code = #{userCode}) AS friendCount
    </select>

    <select id="getChallengeSummary" resultType="sisosolsol.greenfire.challenge.model.dto.ChallengeDTO">
        SELECT *
        FROM (
            SELECT
                ch.challenge_code as challengeCode,
                ch.challenge_title as challengeTitle,
                ch.challenge_content,
                ch.thumbnail_url as thumbnail,
                ROW_NUMBER() OVER(ORDER BY ch.created_at) AS rn
            FROM
                challenge_part cp
            LEFT JOIN
                challenge ch
            ON
                cp.challenge_code = ch.challenge_code
            WHERE
                cp.user_code = #{userCode}
        ) t
        WHERE t.rn <![CDATA[<=]]> 3
    </select>

    <select id="countParticipatingChallenge" resultType="int">
        SELECT
            COUNT(challenge_part_code)
        FROM
            challenge_part
        WHERE
            user_code = #{userCode}
    </select>

    <update id="changePassword">
        UPDATE
            users
        SET
            password = #{password}
        WHERE
            user_code = #{userCode}
    </update>

    <insert id="followUser">
        INSERT INTO
            user_follows (user_code, target_user)
        VALUES
            (#{userCode}, #{targetUser})
    </insert>

    <delete id="deleteFollow">
        DELETE
        FROM
            user_follows
        WHERE
            user_code = #{userCode}
        AND
            target_user = #{targetUser}
    </delete>

    <update id="changeCoverImage">
        UPDATE
            users
        SET
            cover_image_key = #{storageKey}
        WHERE
            user_code = #{userCode}
    </update>

    <select id="getScrapChallenges" resultType="sisosolsol.greenfire.challenge.model.dto.ChallengeDTO">
        SELECT
            challenge_code as challengeCode,
            challenge_title as challengeTitle,
            thumbnail_url as thumbnailUrl,
            host_user as hostUser
        FROM
            challenge
        WHERE
            host_user = #{userCode}
    </select>

    <select id="getScrapFriends" resultType="sisosolsol.greenfire.user.dto.FriendDTO">
        SELECT
            u.user_code as userCode,
            u.nickname as nickname,
            u.profile_image as profileImage,
            (followings.user_code IS NOT NULL) AS isFollowing,
            (followers.user_code IS NOT NULL) AS isFollower
        FROM
            users u
        LEFT JOIN
            user_follows followings
        ON
            followings.target_user = u.user_code
        AND
            followings.user_code = #{currentUserCode}
        LEFT JOIN
            user_follows followers
        ON
            followers.user_code = u.user_code AND followers.target_user = #{currentUserCode}
        WHERE
            followings.user_code IS NOT NULL
        OR
            followers.user_code IS NOT NULL
    </select>

    <!-- 공개 프로필: target 기본 정보 + 팔로우 카운트 + viewer가 팔로우 중인지 -->
    <select id="findPublicProfile" resultType="sisosolsol.greenfire.user.dto.PublicProfileRow">
        SELECT
            u.user_code        AS userCode,
            u.nickname         AS nickname,
            u.profile_key      AS profileKey,
            u.cover_image_key  AS coverKey,
            COALESCE(u.total_spark, 0) AS totalSpark,
            (SELECT COUNT(*) FROM user_follows WHERE target_user = u.user_code) AS followerCount,
            (SELECT COUNT(*) FROM user_follows WHERE user_code = u.user_code)   AS followingCount,
            <choose>
                <when test="viewerCode != null">
                    EXISTS(
                        SELECT 1 FROM user_follows
                        WHERE user_code = #{viewerCode}::uuid
                          AND target_user = u.user_code
                    )
                </when>
                <otherwise>FALSE</otherwise>
            </choose> AS isFollowing
        FROM users u
        WHERE u.user_code = #{targetCode}::uuid
    </select>
</mapper>